#books{
    background-color: #e8e8e8;
    width: 100%;
    text-align: center;
}

main > table > tbody tr{
    background-color: white;
}

main > table > tbody tr:nth-child(2n+2){
    background-color: #f6f6f6;
}