*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
}

aside{
    background-color: #c72727;
    height: 100%;
    width: 260px;
    position: fixed;
    overflow-x: hidden;
}

h1 > a{
    color: white;
    text-decoration: none;
}

nav > li{
    list-style: none;
}

main{
    padding: 10px;
}

main > h1{
    margin-bottom: 10px;
}

#sideMenuWrapper header{
    padding: 10px;
}

#sideMenuWrapper header h1{
    font-size: 2.0em;
    color: white;
}

#sideMenuWrapper button{
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 1em;
    background-color: #c72727;
    border: 0px;
    color: white;
}

#sideMenuWrapper button:hover, nav .active{
    background-color: rgb(70, 70, 70);
}

main{
    margin-left: 260px;
}

.flex{
    display: flex;
}

.flex-horizontal{
    flex-direction: row;
}

.flex-vertical{
    flex-direction: column;
}

.btn{
    border: 0px;
    padding: 5px;
}

.btn-red{
    background-color: #eb2323;
    color: white;
}

.btn-red:hover{
    background-color: #f84e4e;
}

.btn-blue{
    background-color: #238aeb;
    color: white;
}

.btn-blue:hover{
    background-color: #60acf3;
}

.btn-green{
    background-color: rgb(62, 230, 20);
    color: white;
}

.btn-green:hover{
    background-color: rgb(100, 224, 68);
    color: white;
}

.modal{
    background-color: rgb(236, 236, 236);
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width: 600px;
    height: 300px;
}

.modal-header{
    color: white;
    padding: 10px;
    background-color: rgb(41, 41, 41);
}