#book input, #book select{
    background-color: #d8d8d8;
    border: 0px;
    color: rgb(68, 68, 68);
    width: 100%;
    padding: 5px;
}

#book button{
    margin-top: 10px;
    background-color: #3dcf30;
    color: white;
    border: 0px;
    padding: 10px; 
    min-width: 100px;
}

#book button:hover{
    background-color: #2edb1e;
}

#book{
    width: 350px;
}

#book > .flex-vertical > .flex-horizontal label{
    width: 150px;
}

#book > .flex-vertical > .flex-horizontal:nth-child(1) label{
    width: 145px;
}

#book > .flex-vertical > .flex-horizontal input:read-only{
    background-color: rgb(240, 240, 240);
    cursor: default;
}

#book > .flex-vertical > .flex-horizontal{
    margin-bottom: 2px;
}