<aside>
    <div id="sideMenuWrapper">
        <header>
            <h1><a href="index.html" onclick="Book.SaveAll()">Book Manager</a></h1>
        </header>
        <nav>
            <li><a href="listBooks.html"><button type="button" onclick="Book.SaveAll()">List all books</button></a></li>
            <li><a href="createBook.html"><button type="button" onclick="Book.SaveAll()">Add a new book</button></a></li>
            <li><a href="updateBook.html"><button type="button" onclick="Book.SaveAll()">Update a book</button></a></li>
            <li><a href="deleteBook.html"><button type="button" onclick="Book.SaveAll()">Delete a book</button></a></li>
            <li><button type="button" onclick="Book.ClearData()">Clear database</button></li>
            <li><button type="button" onclick="Book.CreateTestData()">Create test data</button></li>
        </nav>
    </div>
</aside>